* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #3647f8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }

  nav a:hover{
    text-shadow: 3px 4px black;
  }
  
  aside {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    height: 100%;
    background: #f9f9f9;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
  }
  
  .profile-pic {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .cee-pic{
    width: 100%;
    margin: 20px;
  }
  
  aside h2 {
    font-size: 16px;
    margin-bottom: 5px;
    font-family:Cambria;
    font-weight:900;
  }

  aside p {
    font-size: 15px;
  }
  
  aside ul {
    list-style: none;
    margin-top: 10px;
  }
  
  aside li {
    margin: 5px 0;
  }
  
  aside a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    margin-left: 300px;
    padding: 80px 20px 20px 20px;
    margin-right:300px;
    flex: 1;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  main h2 {
    color: #5c5c5c;
    margin-bottom: 10px;
  }

  h3 {
    color: #5c5c5c;
    margin-bottom: 10px;
  }
  
  .project-box,
  .section-box {
    background-color: #fff8e1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  

  div ul{
    padding-left: 40px;
  }


  #about{
    margin-bottom:20px;
  }

  #aboutt p{
    margin: 10px;
    font-size: larger;
    margin-right:100px;
    
  }